src/conf/xml-resources/web-service-references/CalculatorWebService/wsdl/localhost_8080/calculatorAppServer/CalculatorWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://calculator.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calculator.com/">

<xs:element name="IntegerAddition" type="tns:IntegerAddition"/>

<xs:element name="IntegerAdditionResponse" type="tns:IntegerAdditionResponse"/>

<xs:element name="IntegerDivition" type="tns:IntegerDivition"/>

<xs:element name="IntegerDivitionResponse" type="tns:IntegerDivitionResponse"/>

<xs:element name="IntegerMultiplication" type="tns:IntegerMultiplication"/>

<xs:element name="IntegerMultiplicationResponse" type="tns:IntegerMultiplicationResponse"/>

<xs:element name="IntegerSubstraction" type="tns:IntegerSubstraction"/>

<xs:element name="IntegerSubstractionResponse" type="tns:IntegerSubstractionResponse"/>

<xs:complexType name="IntegerDivition">
<xs:sequence>
<xs:element name="number1" type="xs:int"/>
<xs:element name="number2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IntegerDivitionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IntegerMultiplication">
<xs:sequence>
<xs:element name="number1" type="xs:int"/>
<xs:element name="number2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IntegerMultiplicationResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IntegerSubstraction">
<xs:sequence>
<xs:element name="number1" type="xs:int"/>
<xs:element name="number2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IntegerSubstractionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IntegerAddition">
<xs:sequence>
<xs:element name="number1" type="xs:int"/>
<xs:element name="number2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IntegerAdditionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>