web/WEB-INF/wsdl/localhost_8080/calculatorAppServer/CalculatorWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator.com/" name="CalculatorWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator.com/" schemaLocation="http://localhost:8080/calculatorAppServer/CalculatorWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="IntegerDivition">
<part name="parameters" element="tns:IntegerDivition"/>
</message>
<message name="IntegerDivitionResponse">
<part name="parameters" element="tns:IntegerDivitionResponse"/>
</message>
<message name="IntegerMultiplication">
<part name="parameters" element="tns:IntegerMultiplication"/>
</message>
<message name="IntegerMultiplicationResponse">
<part name="parameters" element="tns:IntegerMultiplicationResponse"/>
</message>
<message name="IntegerSubstraction">
<part name="parameters" element="tns:IntegerSubstraction"/>
</message>
<message name="IntegerSubstractionResponse">
<part name="parameters" element="tns:IntegerSubstractionResponse"/>
</message>
<message name="IntegerAddition">
<part name="parameters" element="tns:IntegerAddition"/>
</message>
<message name="IntegerAdditionResponse">
<part name="parameters" element="tns:IntegerAdditionResponse"/>
</message>
<portType name="CalculatorWebService">
<operation name="IntegerDivition">
<input wsam:Action="http://calculator.com/CalculatorWebService/IntegerDivitionRequest" message="tns:IntegerDivition"/>
<output wsam:Action="http://calculator.com/CalculatorWebService/IntegerDivitionResponse" message="tns:IntegerDivitionResponse"/>
</operation>
<operation name="IntegerMultiplication">
<input wsam:Action="http://calculator.com/CalculatorWebService/IntegerMultiplicationRequest" message="tns:IntegerMultiplication"/>
<output wsam:Action="http://calculator.com/CalculatorWebService/IntegerMultiplicationResponse" message="tns:IntegerMultiplicationResponse"/>
</operation>
<operation name="IntegerSubstraction">
<input wsam:Action="http://calculator.com/CalculatorWebService/IntegerSubstractionRequest" message="tns:IntegerSubstraction"/>
<output wsam:Action="http://calculator.com/CalculatorWebService/IntegerSubstractionResponse" message="tns:IntegerSubstractionResponse"/>
</operation>
<operation name="IntegerAddition">
<input wsam:Action="http://calculator.com/CalculatorWebService/IntegerAdditionRequest" message="tns:IntegerAddition"/>
<output wsam:Action="http://calculator.com/CalculatorWebService/IntegerAdditionResponse" message="tns:IntegerAdditionResponse"/>
</operation>
</portType>
<binding name="CalculatorWebServicePortBinding" type="tns:CalculatorWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="IntegerDivition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IntegerMultiplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IntegerSubstraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IntegerAddition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorWebService">
<port name="CalculatorWebServicePort" binding="tns:CalculatorWebServicePortBinding">
<soap:address location="http://localhost:8080/calculatorAppServer/CalculatorWebService"/>
</port>
</service>
</definitions>